<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/hq-favicon.jpg">
    <title>HQ Store</title>
</head>
<body>
    <header class="header--index">
        <nav class="nav--index">
            <a class="logo" href="#">HQ Store</a>
            <a class="link-produtos"href="/views/allProducts.html">HQ's</a>
            <a href="/views/carrinho.html"><img class="shopping-cart"  src="/assets/img/shopping-cart.png" alt="Imagem de um carrinho de compras"></a>
        </nav>
    </header>

    <main>
        <section id="infos-produto"></section>
    </main>

    <footer>
        <h6>Copyright HQ Store - 2023. Todos os direitos reservados.</h6>
    </footer>

    <script src="/assets/js/productSingle.js"></script>
</body>
</html>