<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="../assets/img/hq-favicon.jpg">
  <title>HQ Store</title>
</head>

<body>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"></svg>
      <span class="fs-4">HQ Store</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="../index.html" class="nav-link " aria-current="page">Home</a></li>
      <li class="nav-item"><a href="./allProducts.html" class="nav-link">HQ's</a></li>
      <li class="nav-item"><a href="./sobreNos.html" class="nav-link">Sobre nós</a></li>
      <li class="nav-item"><a href="./carrinho.html" class="nav-link"><img class="image-cart"
            src="../assets/img/shopping-cart.png" alt="Imagem do carinho de compras"></a></li>
    </ul>
  </header>
  <main>
    <section id="infos-produto"></section>
  </main>

  <footer>
    <div class="footer-container">

      <p id="copyrigth">© 2023 HQ Store, Inc. All rigths reserved</p>
      <a class="footer-text" href="./views/faleConosco.html">Fale Conosco</a>
      <a class="footer-text" href="./views/termosDeUso.html">Termos de Uso</a>
      <a class="footer-text" href="./views/politicaDePrivacidade.html">Política de Privacidade</a>
    </div>

    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="../assets/js/productSingle.js"></script>
</body>

</html>