<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="icon" type="image/x-icon" href="../assets/img/hq-favicon.jpg">
  <title>HQ Store</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">HQ Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/allProducts.html">HQ's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/sobreNos.html">Sobre nós</a>
            </li>
            <li class="nav-item"><a href="../views/carrinho.html" class="nav-link"><img class="image-cart"
                  src="../assets/img/shopping-cart.png" alt="Imagem do carrinho de compras"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="about-us">
      <div class="about-us-container">
        <h2>SOBRE NÓS</h2>
        <p>Bem-vindo à HQ Store, a sua loja virtual especializada em histórias em quadrinhos! Aqui, você encontrará um
          universo vasto e emocionante de personagens lendários, aventuras épicas e ilustrações fascinantes. Prepare-se
          para embarcar em uma jornada através das páginas de quadrinhos que vão estimular sua imaginação e despertar
          seu amor pela nona arte.
          Na HQ Store, entendemos a paixão que os fãs de quadrinhos têm por esse universo único. Nossa missão é trazer
          até você uma ampla variedade de títulos e edições especiais, oferecendo uma experiência de compra conveniente
          e envolvente. Navegue por nossas categorias cuidadosamente selecionadas e mergulhe em mundos vibrantes,
          repletos de super-heróis icônicos, vilões temíveis e narrativas cativantes.
          Oferecemos uma vasta coleção de histórias em quadrinhos, desde os clássicos atemporais até as publicações mais
          recentes. Se você é fã da Marvel, DC Comics, Image Comics ou qualquer outra editora renomada, você encontrará
          tudo o que precisa aqui. Explore as sagas lendárias do Homem-Aranha, Batman, X-Men, Liga da Justiça,
          Vingadores e muitos outros heróis e equipes de super-heróis.
          Além disso, na HQ Store, também valorizamos os quadrinhos independentes e as obras de artistas emergentes.
          Apoiamos talentos promissores e oferecemos uma plataforma para que suas histórias sejam descobertas pelos fãs.
          Nossa seção "Quadrinhos Independentes" é dedicada a essas criações únicas, que muitas vezes trazem
          perspectivas frescas e narrativas inovadoras.
          Ao fazer compras na HQ Store, você pode esperar não apenas uma seleção diversificada de quadrinhos, mas também
          um serviço excepcional. Nossa equipe está pronta para ajudá-lo a encontrar exatamente o que procura e fornecer
          recomendações personalizadas com base em suas preferências. Queremos que sua experiência de compra seja
          agradável e que você encontre as histórias em quadrinhos que o farão vibrar.
          Além disso, valorizamos a conveniência e a segurança. Nossa plataforma de compras online é fácil de usar e
          protegida por medidas de segurança robustas, garantindo que suas informações pessoais e transações estejam
          sempre protegidas. Oferecemos opções de entrega rápida e confiável para que você possa começar a desfrutar de
          suas novas histórias em quadrinhos o mais rápido possível.
          Na HQ Store, acreditamos que as histórias em quadrinhos têm o poder de nos transportar para mundos
          fantásticos, nos fazer refletir sobre questões complexas e nos conectar emocionalmente com os personagens. É
          por isso que nos esforçamos para trazer até você a melhor seleção de quadrinhos, com qualidade impecável e
          atendimento excepcional.
          Então, prepare-se para mergulhar nas páginas dos seus quadrinhos favoritos e descobrir novas histórias
          emocionantes na HQ Store. Estamos ansiosos para servi-lo e tornar a sua jornada pelo universo dos quadrinhos
          memorável e gratificante. Abrace a magia</p>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-container">

      <p id="copyrigth">© 2023 HQ Store, Inc. All rigths reserved</p>
      <a class="footer-text" href="../views/faleConosco.html">Fale Conosco</a>
      <a class="footer-text" href="../views/termosDeUso.html">Termos de Uso</a>
      <a class="footer-text" href="../views/politicaDePrivacidade.html">Política de Privacidade</a>
    </div>

    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>