@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');

:root {
    --bg-color: #1f2222;
    --white: #fff;
    --black: rgba(0, 0, 0, 1);
    --yellow: #ffc107;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color);
}

a {
    color: var(--color);
    text-decoration: none;
}

main {
    min-height: 100vh;
}

/* Estilo do header e carrossel */
.image-cart {
    width: 35px;
}

#navbarNav {
    justify-content: right;
    margin-right: 100px;
}

.navbar-brand {
    margin-left: 20px;
    font-size: 1.7em;
}

.carousel-inner {
    background-image: url("https://i.pinimg.com/736x/97/74/57/977457b721a68d280eadfcb1b8d2765a.jpg");
}

.container h2 {
    padding-top: 30px;
}

.navbar {
    min-height: 80px;
}

.nav-link {
    display: flex;
}

.row {
    margin-top: 40px;
}

.nav-pills {
    margin-right: 100px;
}

.nav-link {
    color: var(--black);
}

.nav-link:hover {
    background-color: var(--yellow);
    border-radius: 10px;
    color: var(--black);
    transition: linear 0.3s;
}

.navbar-brand {
    font-family: 'Pacifico';
}

.col-lg-4 {
    text-align: center;
    color: #000;
}

.hq-row {
    width: 200px;
}

.header-img {
    width: 100%;
}

.link-produtos {
    padding-left: 200px;
}

.shopping-cart {
    width: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 40%;
}

.lancamentos {
    margin: 25px 0px 0px 20px;
}

.allProducts {
    display: flex;
    justify-content: center;
    text-align: center;
}

#productsList {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

hr {
    width: 95%;
}

.produto {
    display: flex;
    flex-direction: column;
    transition: linear 0.2s;
    text-align: center;
    width: 200px;
}

.preco-produto {
    font-size: 1.5em;
}

.produto:hover {
    transition: linear 0.3s;
    transform: scale(1.1);
}

.produto img {
    width: 150px;
}


#infos-produto {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.info-produto {
    display: flex;
}

.nome-preco {
    padding-left: 50px;
    width: 600px;
}

/* Estilo da página "Sobre nós"*/

.about-us {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 700px;
    color: var(--black);
    border: 1px solid #c0c0c0;
    padding: 20px;
}

.about-us-container h2 {
    text-align: center;
}

/* Estilo da página productSingle */

.info-produto img {
    width: 300px;
    display: flex;
}

#productSingle {
    margin-top: 120px;
    font-size: 1.5em;
    text-align: center;
}

.preco-produto {
    margin-bottom: 40px;
    margin-top: 10px;
}

.botao-adicionar {
    padding: 15px;
    background-color: var(--yellow);
    border-radius: 50px;
    font-size: 1.1em;
}

.botao-adicionar:hover {
    background-color: #be9c00;
}

/* Estilo footer */
footer {
    background-color: var(--black);
    color: var(--white);
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
}

.footer-text {
    padding: 30px;
}

.footer-text:hover {
    color: #c0c0c0;
}

#copyrigth,
.links-footer {
    padding-top: 40px;
    padding-bottom: 20px;
}

/* Estilo carrinho de compras */

.info-produto-carrinho {
    color: var(--black);
    text-decoration: none;
    padding-left: 10px;
    width: 150px;
}

.imagem-produto-carrinho {
    width: 150px;
}

#carrinho {
    display: flex;
    justify-content: center;
}

#produtos-carrinho {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
}

.produto-carrinho {
    display: flex;
    padding: 10px;
}

.total {
    padding: 10px;
    margin-left: 10px;
}

#div-botao {
    display: flex;
    justify-content: center;
}

#botao-finalizar {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--yellow);
    padding: 15px;
    border-radius: 50px;
}

.btn-remove-cart {
    margin-left: 70px;
    margin-top: 50px;
}

.lixeira-img {
    width: 35px;
}

/* Estilo página fale conosco */
.container-contact-us {
    background-color: white;
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#legenda-contact-us {
    font-weight: bold;
    font-size: 2em;
}

#form-contact-us {
    padding-top: 15px;
    padding-right: 60px;
    margin-top: 80px;
    height: 500px;
    background-color: #fff;
}

#mapa {
    margin-top: 80px;
    padding: 20px;
    width: 500px;
    height: 500px;
    display: inline-block;
    background-color: #fff;
}

iframe {
    width: 400px;
    height: 400px;
}

#submit-contact-us {
    margin-top: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#submit-contact-us:hover {
    background-color: black;
    color: white;
}

.input-contact-us {
    overflow: hidden;
    outline: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    border: hidden;
    border-bottom: 1px solid black;
}

#redes-sociais {
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}

.social-icon {
    width: 35px;
}

/* Estilo dos termos de uso e privacidade */
#privacidade-content,
#termos-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#privacidade-text,
#termos-text {
    width: 800px;
    border: 1px solid #c0c0c0;
    padding: 20px;
    text-align: justify;
}

/* Estilo da verificação do CEP */
#input-cep {
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 5px;
}

#btn-cep {
    background-color: white;
    border: 1px solid #DCDCDC;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
}

#btn-cep:hover {
    color: #7c7c7c;
}

#textoCep {
    text-align: justify;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1px) and (max-width:480px) {

    .footer-container {
        flex-direction: column;
        text-align: center;
        height: 130px;
    }

    .footer-text {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #copyrigth {
        padding: 0;
        margin: 0;
    }

    .links {
        display: flex;
        justify-content: center;
    }

    .links-footer {
        display: flex;
        justify-content: center;
    }

    .nome-preco {
        width: 250px;
        font-size: 0.8em;
    }

    .info-produto img {
        width: 200px;
        height: 300px;
    }

    .about-us-container {
        font-size: 0.9em;
    }

    .info-produto {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .info-produto img {
        text-align: center;
    }

    .nome-preco {
        padding: 0px;
        margin: 0px;
    }

    .nome-produto {
        padding-top: 20px;
    }

    .descricao-produto {
        display: none;
    }

    #productsList {
        justify-content: center;
    }

    .btn-remove-cart {
        margin-left: 30px;
    }

    #produtos-carrinho {
        border: hidden;
    }

    .produto-carrinho {
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    #content {
        flex-direction: column;
        width: 400px;
    }

    #form-contact-us {
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 350px;
    }

    .input-contact-us {
        width: 80%;
    }

    #mapa {
        width: 100%;
        padding: 20px;
        height: 300px;
        margin-top: 30px;
    }

    .links-footer {
        padding: 0;
    }

    .container-contact-us {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    .nav-link:hover{
        background-color:none;
    }
}

@media (min-width: 481px) and (max-width:768px) {
    .nav-link:hover{
        background-color:none;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
        height: 130px;
    }

    .footer-text {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #copyright {
        justify-content: center;
        margin: 0;
    }

    .links {
        display: flex;
        justify-content: center;
    }

    .nome-preco {
        width: 250px;
        font-size: 0.8em;
    }

    .info-produto img {
        width: 200px;
        height: 300px;
    }

    .about-us-container {
        font-size: 0.9em;
    }

    .info-produto {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .info-produto img {
        text-align: center;
    }

    .nome-preco {
        padding: 0px;
        margin: 0px;
    }

    .nome-produto {
        padding-top: 20px;
    }

    .descricao-produto {
        display: none;
    }

    #productsList {
        justify-content: center;
    }
    #form-contact-us {
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 350px;
    }

    .input-contact-us {
        width: 80%;
    }

    #mapa {
        width: 100%;
        padding: 20px;
        height: 300px;
        margin-top: 30px;
    }

    .links-footer {
        padding: 0;
    }

    .container-contact-us {
        display: flex;
        flex-direction: column;
        background-color: white;
    }
}
@media (max-width: 413px) {
    .footer-text {
        padding-left: 5px;
        padding-right: 5px;
    }

}
